body {
  font-family: "Rubik", sans-serif;
}

.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}
.logo {
  width: 155px;
  display: block;
  margin-top: 10px;
}
.ul-menu {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
  margin-top: 10px;
}
.link,
.link:hover,
.link:focus,
.link:active {
  text-decoration: none;
}

.link {
  margin: 10px;
  font-size: 16px;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3cdbc0;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.h1 {
  width: 155px;
}
@media all and (min-width: 768px) {
  /* .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } */
  .header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .logo {
    position: relative;
    left: 80px;
    margin: 20px;
    margin-left: 30px;
  }
  .ul-menu {
    position: relative;
    left: 280px;
  }
}
